.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.footer ul {
  display: flex;
  justify-content: center;
}
.footer li {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  transition: all ease 0.3s;
  margin: 0 5px;
}
.footer li:hover {
  color: #ffbb33;
  transform: translateY(-3px);
}

.footer p {
  margin-top: 0.5em;
}
.footer p span {
  font-weight: bold;
  color: #ffbb33;
}
